footer {
  width: 100%;
  padding: 80px 60px;
}

.footer-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-logo,
.footer-subscribe,
.footer-company,
.footer-press {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  
}

.footer-item-logo a {
  text-decoration: underline;
  color: #ffb005;
}

.footer-copy {
  font-size: 14px;
  color: #808080;
}

.footer-link a {
  color: black;
  font-size: 14.5px;
  
}

.footer-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 126%;
}

.subscribe-input {
  display: flex;
  align-items: center;
  
}

.subscribe-input input {
  width: 260px;
  padding: 10px 10px;
  border-left: 1px solid #c5c3c3;
  border-right: none;
  border-top: 1px solid #c1bfbf;
  border-bottom: 1px solid #c9c7c7;
  
}

.subscribe-input button {
  padding: 5px 10px;
  border-left: none;
  cursor: pointer;
  background-color: #ffb005;
  border: none;
  
}

.footer-contacts {
  display: flex;
  gap: 2rem;
  
}

.footer-contact-col {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  
}

.footer-subtitle {
  font-weight: 600;
  
}

.footer-icons {
  display: flex;
  gap: 1rem;
 
 

  p {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdd480;
    border-radius: 50px;
    transition: all 0.3s;

    &:hover {
      background-color: #ffbf00;
      cursor: pointer;
    }
  }
}
.iicon a{
  border-radius: 80%;
  background-color: #ffbf00;
  color: white;

}
.iicon a:hover{
  background-color: #ead4a8;

}
@media screen and (max-width: 1200px) {
  footer {
    padding: 60px 30px;
  }
  
}
@media screen and (max-width: 768px) {
  .footer-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .footer-logo,
  .footer-subscribe,
  .footer-company,
  .footer-press {
    align-items: center;
  }

  .footer-contacts {
    flex-direction: column;
    align-items: center;
  }
  
}