@use "./global" as*;
.equipment-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 30px;
}
.equipment-section{
    h4{
    font-weight: 200;
    font-size: 50px;
    line-height: 1.377;
    text-transform: uppercase;
    color: #000;
    padding: 20px 0;
    span{
        font-weight: bold;
    }
    }
}
.equipment-card {
  position: relative;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
  background-size: cover;
  background-position: center;

  .overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  .card-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
   

    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      padding: 12px 18px;
      gap: 8px;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.377;
    color: #000; 
    }
     .machine-img {
    width: 100%;

  
  }
  }
}
@media screen and (max-width: 768px) {
  .equipment-card {
    height: 180px;
  }
  .equipment-grid {
    grid-template-columns: 1fr;
  }
  .text {
    font-size: 16px;
  }
  .equipment-section h4 {
    font-size: 36px;
    text-align: center;
  }
    
}
@media screen and (max-width: 480px) {
  .equipment-card {
    height: 150px;
  }
    
}
