.services {
  padding: 50px 0;
  h4{
    font-weight: 200;
    font-size: 50px;
    line-height: 1.377;
    text-transform: uppercase;
    color: #000;
    padding-bottom: 10px;
    span{
        font-weight: bold;
    }
  }


  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;
  }

  .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .caption {
      background: white;
      padding: 5px 10px;
      text-align: center;
      font-weight: 600;
      font-size: 26px;
      color: #000;
    }
  }
}
@media screen and (max-width: 768px) {
  .services {
    padding: 30px 0;
    h4 {
      font-size: 36px;
      padding-bottom: 10px;
    }
    .services-grid {
      gap: 15px;
    }
    .service-item {
      img {
        height: 150px;
      }
      .caption {
        font-size: 20px;
        padding: 5px 8px;
      }
    }
  }
    .services-grid{
        grid-template-columns: 1fr;
    }

}   
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .services-grid{
        grid-template-columns: 1fr 1fr;
    }
    
}
